name: Test ZAP - Integration with Other Scanners

on:
  workflow_call:
    inputs:
      workflow_repository:
        description: 'Repository (owner/repo) of hardening-workflows to test'
        required: false
        type: string
        default: '1blt/hardening-workflows'
      workflow_ref:
        description: 'Branch/tag of hardening-workflows to test'
        required: false
        type: string
        default: 'feat/zap-scanner-fixes-250112'

permissions:
  actions: read
  checks: write
  pull-requests: write
  security-events: write
  id-token: write
  contents: read

jobs:
  test-zap-opt-in:
    name: ZAP is Opt-In (not in 'all')
    uses: ${{ inputs.workflow_repository }}/.github/workflows/reusable-security-hardening.yml@${{ inputs.workflow_ref }}
    with:
      scanners: 'all'
    secrets: inherit

  test-zap-with-other-scanners:
    name: ZAP + Other Scanners
    needs: test-zap-opt-in
    uses: ${{ inputs.workflow_repository }}/.github/workflows/reusable-security-hardening.yml@${{ inputs.workflow_ref }}
    with:
      scanners: 'trivy,semgrep,zap'
      zap_scan_mode: 'url'
      zap_scan_type: 'baseline'
      zap_target_urls: 'http://demo.testfire.net'
    secrets: inherit

  test-zap-only:
    name: ZAP Only
    needs: test-zap-with-other-scanners
    uses: ${{ inputs.workflow_repository }}/.github/workflows/reusable-security-hardening.yml@${{ inputs.workflow_ref }}
    with:
      scanners: 'zap'
      zap_scan_mode: 'url'
      zap_scan_type: 'baseline'
      zap_target_urls: 'http://demo.testfire.net'
    secrets: inherit
